body {
    direction: rtl;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
}
.navbar-header {
    float: right;
}
.navbar-nav>li {
    float: right;
}
.navbar-right {
    float: left!important;
}
.our-service-section {
    direction: ltr;
}
.feature-content h3::after {
    right: 45px;
}
.feature-icon i {
    float: right;
}
.feature-icon i {
    text-align: right;
}
.col-md-offset-2 {
    margin-left: auto;
    margin-right: 16.66666667%;
}
.our-testimonials-section {
    direction: ltr;
}
.col-md-push-3 {
    left: auto;
    right: 25%;
}
.footer-menu li {
    border-left: 1px solid#ffffff;
    border-right: 0px solid#ffffff;
}
.footer-menu li:last-child {
    border-left: none;
}
#scrollUp {
    left: 3%;
    right: auto;
}